a {
    color: rgb(0, 255, 26);
}

.header {
    width: 100%;
    display: flex;
    background-color: bisque;
    justify-content: space-between;
    align-items: baseline;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    position: absolute;
    bottom: 200px;
    width: 99%;
}

.header-nav {
    display: flex;
    gap: 20px;
}

.date {
    margin: 0;
}

.error {
    color: red;
    font-size: 30px;
}